.advantages {
  position: relative;
}

.price h1 {
  font-size: 0;
}

.advantages__slogan {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
  width: 202px;
  margin: 0 auto;
}

.advantages__slogan h2 {
  @include headline(23px, 30px);
  font-family: "Open Sans", "Arial", sans-serif;
  position: relative;
  font-weight: 300;
}

.advantages__question--suggestion {
  padding-top: 8px;
}

.advantages__triangle-white {
  @include size(100%, 94px);
  position: absolute;
  content: "";
  top: 185px;
  left: 0;
  z-index: 15;
}

.advantages__items {
  background: #f2f2f2;
  width: 100%;
  position: relative;
  height: 782px;
}

.list-benefits {
  @include indentation(0, 0);
  list-style: none;
  text-align: center;
  padding-top: 60px;
}

.list-benefits__item {
  @include headline(14px, 24px);
  margin-bottom: 30px;
  padding-left: 9%;
  padding-right: 9%;
}

.list-benefits__title {
  @include headline(19px, 24px);
  font-weight: 700;
  margin-bottom: -2px;
  font-family: "Open Sans", "Arial", sans-serif;
}


.advantages__picture--mobile-phone3 {
  @include size(160px, 280px);
  @include position-absolute;
  bottom: 0;
  left: 25%;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
  margin: 0 auto;
  z-index: 14;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png 2x") no-repeat;
    background-size: 100% auto;
    z-index: 14;
  }
}

.effects {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: auto;
    background: #f2f2f2;
  }

  .advantages__suggestion {
    background: white;
  }

  .advantages__question--suggestion {
    display: block;
    width: 60%;
    padding-top: 0;
    margin: 0 auto;
    margin-top: -36px;
  }

  .advantages__triangle-white {
    top: 220px;
    z-index: 8;
  }

  .advantages__slogan {
    background: white;
    padding-top: 15px;
    padding-bottom: 50px;
    text-align: center;
    width: auto;
    max-width: 940px;
    margin: 0 auto;
  }

  .advantages__slogan h2 {
    @include headline(39px, 50px);
    font-weight: 300;
  }

  .advantages__items {
    height: 481px;
    max-width: 940px;
    margin: 0 auto;
  }

  .list-benefits {
    padding-top: 50px;
    text-align: left;
    margin-left: 330px;
  }

  .advantages__picture--mobile-phone3 {
    @include size(267px, 480px);
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
    position: absolute;
    top: 0;
    left: 22px;
    z-index: 14;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png 2x") no-repeat;
      background-size: 100% auto;
      z-index: 14;
    }
  }

  .list-benefits__item {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 35px;
    width: 94%;
  }

  .effects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
    position: relative;
    max-width: 940px;
    margin: 0 auto;
  }

  .effects__picture {
    @include size(450px, 276px);
    margin-top: 60px;
    margin-left: -2px;
    position: relative;
  }

  .effects__text-block {
    margin-top: 70px;
    width: 530px;
    margin-left: 50px;
  }

  .effects__text {
    @include headline(14px, 24px);
  }

  .effects__heading {
    @include headline(32px, 34px);
    font-family: "Open Sans", "Arial", sans-serif;
    width: 60%;
    font-weight: bold;
    margin-bottom: -2px;
  }

  .effects__link {
    @include headline(14px, 14px);
    color: #d22856;
    text-decoration: underline;
    display: block;
    margin-top: 0;
  }

  .list-benefits__description {
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__slogan {
    text-align: center;
    padding-top: 27px;
    padding-bottom: 85px;
  }

  .advantages__slogan h2 {
    @include headline(49px, 56px);
  }

  .advantages__triangle-white {
    top: 320px;
    width: 100%;
  }

  .advantages__items {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    height: 580px;
  }

  .list-benefits {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 270px;
    padding-top: 50px;
  }

  .list-benefits__item {
    @include headline(18px, 30px);
    margin-right: 7%;
    width: 27%;
    margin-bottom: 0;
  }

  .list-benefits__item:last-child {
    margin-right: 0;
  }

  .advantages__picture--mobile-phone1 {
    @include size(292px, 302px);
    background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat;
    position: absolute;
    top: -5px;
    left: 5px;
    z-index: 14;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png 2x") no-repeat;
      background-size: 100% auto;
      z-index: 14;
    }
  }

  .advantages__picture--mobile-phone2 {
    @include size(292px, 302px);
    background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat;
    position: absolute;
    top: -5px;
    left: 330px;
    z-index: 14;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png 2x") no-repeat;
      background-size: 100% auto;
      z-index: 14;
    }
  }

  .advantages__picture--mobile-phone3 {
    @include size(292px, 302px);
    background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat;
    position: absolute;
    top: -5px;
    left: 640px;
    z-index: 14;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png 2x") no-repeat;
      background-size: 100% auto;
    }
  }

  .list-benefits__title {
    @include headline(32px, 30px);
    display: inline-block;
    margin-bottom: 8px;
  }

  .effects {
    justify-content: space-between;
    background: #f2f2f2;
    padding-bottom: 71px;
  }

  .effects__picture {
    @include size(298px, 345px);
    margin-top: 41px;
  }

  .effects__picture text {
    font-size: 120px;
    transform: translate(-3px, -3px);
  }

  .effects__text-block {
    margin-top: 132px;
    width: 61.5%;
  }

  .effects__text {
    @include headline(18px, 30px);
    margin-top: 0;
    margin-bottom: 30px;
  }

  .effects__heading {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .effects__link {
    @include headline(18px, 30px);
  }
}
