.advantages__slogan {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.advantages__question,
.advantages__suggestion {
  @include headline(24px, 32px);
  font-weight: 400;
}

.advantages__items {
  background: #f2f2f2;
  width: 100%;
  position: relative;
}

.list-benefits {
  @include indentation(0, 0);
  list-style: none;
  text-align: center;
  padding-top: 50px;
}

.list-benefits__item {
  @include headline(14px, 24px);
  margin-bottom: 40px;
  padding-left: 9%;
  padding-right: 9%;
}

.list-benefits__title {
  @include headline(18px, 24px);
  margin-bottom: 15px;
}

.advantages__picture--mobile-phone3 {
  @include size(150px, 280px);
  background: url("/img/iphone-screen-mobile@1x.png");
  margin: 0 auto;
}

.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: auto;
    background: #f2f2f2;
  }

  .advantages__suggestion {
    background: white;
  }

  .advantages__slogan {
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
    width: auto;
    max-width: 940px;
    margin: 0 auto;
  }

  .advantages__question {
    @include headline(40px, 50px);
  }

  .advantages__items {
    min-height: 435px;
    max-width: 940px;
    margin: 0 auto;
  }

  .list-benefits {
    padding-top: 20px;
    text-align: left;
    margin-left: 330px;
  }

  .advantages__picture--mobile-phone3 {
    @include size(267px, 470px);
    background: url("/img/iphone-screen-3-tablet@1x.png");
    position: absolute;
    top: -36px;
    left: 20px;
  }

  .list-benefits__item {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 40px;
  }

  .effect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
  }

  .effects__picture {
    @include size(238px, 345px);
    margin-top: 55px;
    margin-right: 65px;
    margin-left: 20px;
  }

  .effects__text-block {
    margin-top: 140px;
    width: 530px;
  }

  .effects__heading {
    @include headline(30px, 30px);
  }

  .effects__link {
    color: #d22856;
    text-decoration: underline;
  }

  .list-benefits__description {
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__slogan {
    @include headline(50px, 60px);
    text-align: center;
    padding-top: 70px;
    padding-bottom: 160px;
  }

  .advantages__items {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .list-benefits {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 200px;
    padding-top: 50px;
  }

  .list-benefits__item {
    @include headline(18px, 30px);
    margin-right: 7%;
    width: 27%;
    margin-bottom: 0;
  }

  .list-benefits__item:last-child {
    margin-right: 0;
  }

  .advantages__picture--mobile-phone1 {
    @include size(240px, 300px);
    background: url("/img/iphone-screen-1-desktop@1x.png") no-repeat;
    position: absolute;
    top: -17%;
    left: 1%;
  }

  .advantages__picture--mobile-phone2 {
    @include size(100%, 300px);
    background: url("/img/iphone-screen-2-desktop@1x.png") no-repeat;
    position: absolute;
    top: -17%;
    left: 35%;
  }

  .advantages__picture--mobile-phone3 {
    @include size(240px, 300px);
    background: url("/img/iphone-screen-3-desktop@1x.png") no-repeat;
    position: absolute;
    top: -17%;
    left: 68%;
  }


  .list-benefits__title {
    @include headline(30px, 30px);
    margin-bottom: 18px;
  }

  .effect {
    padding-bottom: 65px;
    background: #f2f2f2;
  }

  .effects__picture {
    @include size(298px, 345px);
    margin-left: 0;
  }
}
