.slogan {
  @include headline(14px, 18px);
  padding: 34px 38px;
  text-align: center;
}

.slogan__text {
  @include headline(14px, 30px);
}

.panorama {
  position: relative;
}

.photo__image-main {
  width: 100%;
}

.comment-picture__item {
  width: 86%;
  margin: 0 auto;
}

.photo__image {
  width: 100%;
}


.panorama__inscription {
  @include position-absolute;
  @include headline(12px, 24px);
  top: 0;
  right: 6%;
  text-transform: uppercase;
  color: $slogan-color;
  background: #d22856;
  padding: 6px 23px;
  font-weight: 700;
}

.comment {
  @include headline(14px, 24px);
  margin: 0 auto;
  background: #f2f2f2;
  width: 86%;
  padding: 7%;
  margin-bottom: 20px;
  margin-top: -10px;
}

.comment-main {
  width: 72%;
}

.comment__name {
  @include indentation(0, 0);
  font-weight: 700;
}

.comment__text {
  @include indentation(0, 0);
  margin-bottom: 5px;
}

.comment__date {
  font-weight: 400;
}

.like {
  position: relative;
}

.like__heart {
  @include position-absolute;
  @include size(13px, 12px);
  font-size: 0;
  background: url("/img/icon-heart.svg") no-repeat;
  margin-right: 20px;
  top: 5px;
}

.like__count {
  margin-left: 30px;
  color: #d22856;
}

.content-photo__last-slogan {
  @include headline(14px, 30px);
  padding-top: 14px;
  padding-bottom: 34px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .content-photo__comment {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .slogan {
    @include headline(18px, 30px);
    padding: 100px 113px;
    text-align: center;
    width: 410px;
    margin: 0 auto;
  }

  .panorama__inscription {
    top: 57px;
  }

  .comment-main {
    width: 85%;
    margin-bottom: 50px;
    padding: 30px;
    position: relative;
    margin-top: -4px;
  }

  .comment-main .like {
    position: absolute;
    top: 28px;
    right: 5%;
  }

  .comment-picture__item {
    width: 45%;
  }

  .comment:not(.comment-main) {
    width: 80%;
    padding: 10%;
    margin-bottom: 20px;
    height: 96px;
  }

  .content-photo__last-slogan {
    @include headline(18px, 30px);
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    width: 380px;
  }
}

@media (min-width: $desktop-width) {
  .comment-picture__item {
    width: 25%;
    margin: 0 auto;
  }

  .item-photo:nth-of-type(3n+2) {
    margin-left: 130px;
  }

  .item-photo:nth-of-type(4),
  .item-photo:nth-of-type(7) {
    margin-right: 130px;
  }

  .slogan {
    width: 520px;
    margin: 0 auto;
    padding: 88px 0;
  }

  .comment-main {
    width: 73%;
    margin-bottom: 50px;
    margin-top: -4px;
  }
}
