.slogan {
  padding: 34px 38px;
  text-align: center;
  &__text {
    @include headline(14px, 30px);
  }
}

.panorama {
  position: relative;

  &__image-main {
    @include size(320px, 137px);
  }
  &__inscription {
    @include position-absolute;
    right: 22px;
    @include headline(12px, 24px);
    text-transform: uppercase;
    color: $slogan-color;
    background: #d22856;
    padding: 6px 23px;
    font-weight: 700;
  }
}

.item-photo__image {
  @include size(280px, 180px);
  margin: 0 auto;
}


.comment {
  margin: 0 auto;
  background: #f2f2f2;
  width: 240px;
  padding: 20px;
  margin-bottom: 20px;
  @include headline(14px, 24px);

  &__name {
    @include indentation(0, 0);
    font-weight: 700;
  }
  &__text {
    @include indentation(0, 0);
    margin-bottom: 5px;
  }
}

.comment__date {
  font-weight: 400;
}


.like {
  position: relative;
  &__heart {
    @include position-absolute;
    font-size: 0;
    @include size(13px, 12px);
    background: url("/img/icon-heart.svg") no-repeat;
    margin-right: 20px;
    top: 5px;
  }
  &__count {
    margin-left: 30px;
    color: #d22856;
  }
}
