.slogan {
  padding: 34px 38px;
  text-align: center;
}

.slogan__text {
  @include headline(14px, 30px);
}

.panorama {
  position: relative;
}

.panorama__image--mobile {
  @include size(320px, 137px);
}

.panorama__image--tablet {
  display: none;
}

.panorama__image--desktop {
  display: none;
}

.panorama__inscription {
  @include position-absolute;
  @include headline(12px, 24px);
  right: 22px;
  text-transform: uppercase;
  color: $slogan-color;
  background: #d22856;
  padding: 6px 23px;
  font-weight: 700;
}

.item-photo__image-simple--mobile {
  @include size(280px, 180px);
  margin: 0 auto;
}

.item-photo__image-simple--mobile--tablet {
  display: none;
}

.item-photo__image-simple--desktop  {
  display: none;
}

.comment {
  @include headline(14px, 24px);
  margin: 0 auto;
  background: #f2f2f2;
  width: 240px;
  padding: 20px;
  margin-bottom: 20px;
}

.comment__name {
  @include indentation(0, 0);
  font-weight: 700;
}

.comment__text {
  @include indentation(0, 0);
  margin-bottom: 5px;
}

.comment__date {
  font-weight: 400;
}

.like {
  position: relative;
}

.like__heart {
  @include position-absolute;
  @include size(13px, 12px);
  font-size: 0;
  background: url("/img/icon-heart.svg") no-repeat;
  margin-right: 20px;
  top: 5px;
}

.like__count {
  margin-left: 30px;
  color: #d22856;
}


.content-photo__last-slogan {
  @include headline(14px, 30px);
  padding-top: 14px;
  padding-bottom: 34px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .content-photo__comment {
    width: 660px;
    margin: 0 auto;
  }

  .slogan {
    @include headline(18px, 30px);
    padding: 100px 113px;
    text-align: center;
    width: 410px;
    margin: 0 auto;
  }

  .panorama__image--mobile {
    display: none;
  }

  .panorama__image--desktop {
    display: none;
  }

  .panorama__image--tablet {
    @include size(100%, 507px);
    display: block;
  }

  .panorama__inscription {
    right: 22px;
    top: 40px;
  }

  .comment-main {
    margin: 0 auto;
    width: 88%;
    margin-bottom: 50px;
  }

  .comment-picture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item-photo__image-simple--tablet {
    @include size(300px, 300px);
  }

  .item-photo__image-simple--mobile {
    display: none;
  }

  .item-photo__image-simple--desktop {
    display: none;
  }

  .item-photo:not(:first-child) {
    margin-left: 20px;
  }

  .item-photo:not(:first-child) .comment {
    width: 260px;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 110px;
  }
}

@media (min-width: $desktop-width) {
  .comment-picture {
    width: 1200px;
    margin: 0 auto;
    background: yellow;
  }

  .item-photo:nth-of-type(3n+2) {
    margin-left: 130px;
  }

  .slogan {
    width: 520px;
    margin: 0 auto;
    padding: 88px 0;
  }

  .panorama__image--mobile {
    display: none;
  }

  .panorama__image--tablet {
    display: none;
  }

  .panorama__image--desktop {
    @include size(100%, 500px);
    display: block;
  }
}

