.photo-editing__wrapper {
  padding: 20px 20px 30px;
  background: #f1f1f1;
  position: relative;
  text-align: center;
}

.photo-editing h2 {
  font-size: 0;
}

.photo-editing__btn {
  @include border-radius(35px);
  @include headline(21px, 21px);
  font-weight: 400;
  display: block;
  padding-top: 13px;
  padding-bottom: 16px;
  width: 100%;
  border: 2px solid #d22856;
  color: #d22856;
  margin: 0 auto;
  margin-bottom: 12px;
  background: transparent;
}

.photo-editing__btn--active {
  &:hover {
    color: $slogan-color;
    background: #d22856;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.photo-editing__btn--disabled {
  color: rgba(40, 54, 69, 0.1);
  border-color: rgba(40, 54, 69, 0.1);

  &:hover {
    color: rgba(40, 54, 69, 0.3);
    border-color: rgba(40, 54, 69, 0.3);
  }

  &:active {
    background: rgba(40, 54, 69, 0.3);
    color: rgba(255, 255, 255, 0.3);
  }
}

.toolbox__gif {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 34px;
}

.toolbox__contrast {
  @include size(32px, 32px);
  fill: #b5b9be;
  padding-top: 8px;
  margin-right: 18px;
}

.toolbox__crop {
  @include size(44px, 44px);
}

.toolbox__fill {
  @include size(48px, 43px);
}

.toolbox__picture {
  fill: #b5b9be;

  &:hover {
    fill: #8d949b;
  }

  &:active {
    fill: #d22856;
  }
}

.toolbox__range-controls {
  position: relative;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 72px;
  width: 85%;
  height: 2px;

  &--second {
    display: none;
  }

  &--third {
    display: none;
  }
}

.toolbox__scale {
  background: $base-color;
  height: 2px;
}

.toolbox__toggle {
  @include size(8px, 8px);
  @include border-radius(50%);
  position: absolute;
  top: -5px;
  left: 190px;
  cursor: pointer;
  border: 2px solid #d22856;
  border-radius: 50%;
  background: #f1f1f1;

  &:active {
    background: #d22856;
  }
}

@media (min-width: $tablet-width) {
  .photo-editing__wrapper {
    width: auto;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 30px;
    padding-left: 3%;
    padding-right: 5.8%;
  }

  .photo-editing__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .photo-editing__image {
    width: 100%;
    height: 400px;
  }

  .photo-editing__toolbox {
    width: 42%;
    position: relative;
  }

  .toolbox__gif {
    display: flex;
    flex-direction: column;
    width: 20%;
    position: absolute;
    justify-content: space-between;
    height: 162px;
    top: -25px;
    left: 0;
  }

  .toolbox__contrast {
    @include size(16px, 16px);
    padding-top: 0;
    margin-left: 5px;
  }

  .toolbox__crop {
    @include size(22px, 22px);
  }

  .toolbox__fill {
    @include size(24px, 22px);
  }

  .toolbox__range-controls {
    margin-top: 20px;
    margin-bottom: 70px;
    width: 79.5%;
    margin-right: 0;


    &--second {
      display: block;
    }

    &--third {
      display: block;
    }
  }

  .toolbox__scale {
    background: $base-color;
  }

  .toolbox__range-controls--second .toolbox__toggle {
    left: 25px;
  }

  .toolbox__range-controls--third .toolbox__toggle {
    left: 98px;
  }

  .toolbox__range-controls:last-of-type {
    margin-bottom: 102px;
  }

  .photo-editing__btn {
    @include headline(21px, 21px);
    display: block;
    width: 102%;
    padding-bottom: 15px;
    margin-bottom: 25px;
  }

  .photo-editing__image--tablet {
    display: block;
  }

  .toolbox__toggle {
    left: 80%;
  }
}

@media (min-width: $desktop-width) {
  .photo-editing__wrapper {
    padding-left: 80px;
    padding-right: 95px;
    padding-top: 58px;
    padding-bottom: 50px;
    width: 765px;
  }

  .toolbox__range-controls {
    margin-right: -20px;
  }

  .toolbox__scale {
    width: 290px;
  }

  .toolbox__gif {
    height: 180px;
    top: -37px;
    left: 7px;
  }

  .photo-editing__btn {
    @include position-absolute;
    width: 184px;

    &--active {
      top: 345px;
      left: 5px;
    }

    &--disabled {
      left: 230px;
      top: 345px;
    }
  }

  .toolbox__contrast {
    @include size(32px, 32px);
    padding-left: 0;
  }

  .toolbox__crop {
    @include size(44px, 44px);
  }

  .toolbox__fill {
    @include size(48px, 43px);
  }

  .photo-editing__toolbox {
    width: 50%;
  }

  .toolbox__toggle {
    left: 80px;
  }

  .toolbox__range-controls--second .toolbox__toggle {
    left: 248px;
  }

  .toolbox__range-controls--third .toolbox__toggle {
    left: 160px;
  }
}
