.photo-editing {
  &__wrapper {
    padding: 20px 20px 25px;
    background: #f1f1f1;
  }

  &__btn {
    @include border-radius(35px);
    @include headline(18px, 18px);
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 280px;
    border: 4px solid #d22856;
    color: #d22856;
    margin-bottom: 15px;
  }
}

.toolbox {
  &__gif {
    @include size(45px, 45px);
    display: inline-block;
    background: black;
    text-align: center;
    margin-top: 35px;
    margin-right: 20px;
  }

  &__range-controls {
    position: relative;
    margin-top: 40px;
    margin-bottom: 80px;
  }
}

.toolbox__gif:first-child {
  background: url("/img/icon-editor-crop.svg");
  margin-left: 45px;
}

.toolbox__gif:nth-child(2) {
  background: url("/img/icon-editor-fill.svg") no-repeat;
}

.toolbox__gif:nth-child(3) {
  background: url("/img/icon-editor-contrast.svg") no-repeat;
}

.toolbox__scale {
  height: 2px;
  background: $base-color;
}

.toolbox__toggle {
  @include size(8px, 8px);
  @include border-radius(50%);
  position: absolute;
  top: -5px;
  left: 190px;
  cursor: pointer;
  border: 2px solid #d22856;
  border-radius: 50%;
  background: #f1f1f1;
}
