.page-footer__wrapper {
  width: 320px;
  padding: 40px 70px;
}

.page-footer__logo img {
  @include size(145px, 70px);
  margin-bottom: 40px;
  margin-left: 15px;
}

.social {
  position: relative;
  width: 177px;
}

.social__list {
  @include indentation(0, 0);
  display: inline-block;
  list-style: none;
  font-size: 0;
  vertical-align: top;
  margin-bottom: 45px;
}

.social__item {
  @include size(43px, 43px);
  display: inline-block;
  margin-right: 12px;
  border: 4px solid #e9ebec;
  border-radius: 50px;
}


.social__item:last-child {
  margin-right: 0;
}

.copyright {
  position: relative;
}

.copyright__text {
  @include headline(14px, 18px);
  text-align: center;
  font-weight: 400;
  margin-left: 15px;
}

.copyright__link {
  @include position-absolute;
  @include size(30px, 35px);
  font-size: 0;
  background: url("/img/htmlacademy.svg") no-repeat;
  margin-left: 25px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: 660px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 20px;
  }

  .page-footer__logo img {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: -15px;
  }

  .social__list {
    margin-bottom: 0;
  }

  .copyright {
    margin-top: 10px;
  }

  .copyright__text {
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 960px;
    height: 80px;
    margin: 0 auto;
    padding: 70px 0;
  }
}
