.index footer {
  display: none;
}

.page-footer__wrapper {
  padding: 40px 22%;
  text-align: center;
}

.page-footer__picture {
  @include size(147px, 40px);
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 37px;
  margin-left: 0;
  fill: #283645;

  &--desktop {
    display: none;
  }

  &:hover {
    fill: #d22856;
  }
}

.page-footer__picture:active {
  opacity: 0.3;
}


.social {
  position: relative;
  width: 177px;
}

.social__list {
  @include indentation(0, 0);
  display: inline-block;
  list-style: none;
  font-size: 0;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 38px;
}

.social__item {
  @include size(43px, 43px);
  display: inline-block;
  margin-right: 12px;
  border: 4px solid #e9ebec;
  border-radius: 25px;

  &:hover {
    border: 4px solid #283645;
  }

  &:active {
    border: 4px solid #e9ebec;
  }
}


.social__item:last-child {
  margin-right: 0;
}

.copyright {
  text-align: center;
  display: block;
  border-top: 1px solid transparent;
  background: red;
}

.copyright__text {
  @include headline(14px, 18px);
  font-weight: 400;
  display: inline-block;
  vertical-align: 15px;
  padding-top: 0;
}

.copyright__link svg {
  @include size(30px, 35px);
  font-size: 0;
  fill: #d22856;

  &:hover {
    fill: #283645;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link {
  position: relative;
}

.social__link--twitter svg {
  padding: 15px;
  fill: #d22856;
  padding-left: 12px;
}

.social__link--youtube svg {
  padding: 15px;
  fill: #d22856;
}

.social__link--facebook svg {
  padding: 14px;
  padding-top: 12px;
  fill: #d22856;
}

.social__link svg:active {
  fill: #f7d7df;
}


@media (min-width: $tablet-width) {
  .index footer {
    display: block;
  }

  .page-footer__wrapper {
    width: auto;
    max-width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 20px;
  }

  .page-footer__picture {
    margin-bottom: 0;
    margin-left: 0;
  }

  .social__list {
    margin-left: -15px;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .copyright {
    margin-top: 12px;
  }

  .copyright__link {
    right: -40px;
  }

  .copyright__text {
  }

  .copyright__link svg {
    @include size(40px, 40px);
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    margin: 0 auto;
    padding: 70px 0;
  }

  .page-footer__picture--desktop {
    display: block;

    &:hover {
      fill: #d22856;
    }
  }

  .page-footer__picture--mobile {
    display: none;
  }

  .copyright {

  }

  .copyright__text {
    @include headline(18px, 18px);
    margin-top: 0;
    background: red;
  }

  .social__list {
    margin-left: 5px;
    width: 100%;
  }
}
