.information {
  padding: 40px 35px;
  text-align: center;

  &__slogan {
    margin-bottom: 40px;
    @include headline(24px, 24px);
  }
}

.contacts {
  &__texte {
    @include indentation(0, 0);
    margin-bottom: 20px;

    &__sub-title {
      @include headline(18px, 32px);
    }
  }
}

.contacts__info {
  @include headline(24px, 24px);
  color: red;
  display: block;
}
