.information {
  padding: 40px 35px;
  text-align: center;
}

.information__slogan {
  @include headline(24px, 24px);
  margin-bottom: 40px;
}

.contacts__texte {
  @include indentation(0, 0);
  margin-bottom: 20px;
}


.contacts__sub-title {
  @include headline(18px, 32px);
}


.contacts__info {
  @include headline(24px, 24px);
  color: red;
  display: block;
}

@media (min-width: $tablet-width) {
  .information {
    padding: 50px 120px;
    width: auto;
    max-width: 940px;
    margin: 0 auto;
  }

  .information__slogan {
    @include headline(40px, 40px);
    margin-bottom: 55px;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contacts__block--address {
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .information {
    padding: 70px 35px;
    width: 960px;
    margin: 0 auto;
  }

  .contacts__sub-title {
    margin-bottom: 30px;
    display: block;
  }


  .information__slogan {
    @include headline(50px, 60px);
    margin-bottom: 55px;
  }

  .contacts {
    justify-content: space-between;
  }

  .contacts__block {
    width: 250px;
  }

  .contacts__block:nth-child(2) {
    order: 3;
  }

  .contacts__block--address {
    flex-grow: 0;
  }
}
