.information {
  padding: 20px 35px;
  text-align: center;
  position: relative;
}

.information__slogan {
  @include headline(23px, 28px);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
}

.contacts__texte {
  @include indentation(0, 0);
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}

.contacts__sub-title {
  @include headline(19px, 32px);
  font-weight: bold;
}

.contacts__info {
  @include headline(24px, 32px);
  display: block;
  color: #d22856;
}

.contacts__info--link {
  @include headline(23px, 24px);
  margin-left: 5px;
  text-decoration: none;
  margin-bottom: 23px;

  &:hover {
    color: #283645;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .information {
    padding: 10px 50px;
    padding-left: 65px;
    width: auto;
    max-width: 940px;
    margin: 0 auto;
  }

  .information__slogan {
    @include headline(39px, 44px);
    margin-bottom: 45px;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }


  .contacts__block--address {
    flex-grow: 1;
    width: 100%;
    margin-top: 25px;
    background: red;
  }

  .contacts__info--link {
    @include headline(24px, 24px);
    margin-left: 0;
  }

 .contacts__info--adress {
    width: 50%;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .information {
    padding: 65px 35px;
    padding-bottom: 0;
    width: 940px;
    margin: 0 auto;
  }

  .contacts__sub-title {
    margin-bottom: 18px;
    display: block;
  }


  .information__slogan {
    @include headline(49px, 60px);
    margin: 0 auto;
    margin-bottom: 50px;
    width: 70%;
  }

  .contacts__block--address {
    margin-top: 0;
    flex-grow: 0;
  }

  .contacts__block {
    text-align: center;
    width: 300px;
  }

  .contacts__block:nth-child(2) {
    order: 3;
  }

  .contacts__info--link {
    @include headline(23px, 23px);
    padding-top: 5px;
  }

  .contacts__texte {
    text-align: center;
  }

  .contacts__info--adress {
    width: 70%;
    margin: 0 auto;
  }
}
