main {
  width: 320px;
}

.picture {
  position: relative;
  background-color: #1d2632;

  &__index {
    @include size(320px, 395px);
  }

  &__slogan {
    @include headline(24px, 32px);
    @include intro-text(60px, 20px);
  }
}

.intro__download {
  background-color: #1d2632;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.download-app {
  text-align: center;
  color: $slogan-color;
  font-family: $font-family;

  &__btn {
    color: $slogan-color;
    text-decoration: none;
    @include headline(17px, 17px);
    margin-bottom: 30px;
    padding: 10px 45px;
    border: solid 4px $slogan-color;
    @include border-radius(35px);
  }

  &__content {
    @include headline (14px, 24px);
  }
}

.mobile-list {
  list-style: none;
  margin-top: 50px;
  font-size: 0;


  &__item {
    @include size(50px, 50px);
    display: inline-block;
    margin-right: 30px;
  }
}

.intro {
  position: relative;

  &__background {
    background-image: url("/img/bg-back-mobile@1x.jpg");
    @include size(320px, 170px);
    background-position: 0px -70px;
}
  &__index {
    @include headline(24px, 28px);
    @include intro-text(15px, 20px);
  }
}
