.main-header {
  background-color: #1d2632;
  width: 100%;
}

.main-header__picture {
  margin-left: 20px;
  margin-top: 22px;
  margin-bottom: 25px;

  &--tablet,
  &--desktop {
    display: none;
  }
}

.main-header__toggle {
  @include size(50px, 24px);
  @include position-absolute;
  background: transparent;
  border-color: transparent;
  top: 19px;
  right: 22px;
  position: relative;
}

.main-header__wrapper--opened .main-header__toggle::after,
.main-header__wrapper--opened .main-header__toggle::before {
  @include position-absolute;
  width: 24px;
  height: 5px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.main-header__wrapper--opened .main-header__toggle:hover::after,
.main-header__wrapper--opened .main-header__toggle:hover::before {
  background-color: #d22856;
}

.main-header__wrapper--opened .main-header__toggle:active::after,
.main-header__wrapper--opened .main-header__toggle:active::before {
  background-color: rgba(210, 40, 86, 0.3);
}

.main-header__wrapper--opened .main-header__toggle::after {
  transform: rotate(45deg);
}

.main-header__wrapper--opened .main-header__toggle::before {
  transform: rotate(-45deg);
}

.main-nav {
  position: relative;
  width: auto;
}

.site-list {
  @include indentation(0, 0);
  display: flex;
  flex-direction: column;
  list-style: none;
}

.site-list__item {
  @include headline(18px, 30px);
  border-bottom: solid 1px $base-color;
  font-weight: 700;

  &:first-child {
    border-top: solid 1px $base-color;
  }
}

.site-list__item a {
  display: block;
  color: $slogan-color;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  &:hover {
    color: #d22856;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .main-header__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 66px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 50, 50, 0.3);
    width: 100%;
  }

  .main-header__wrapper--opened .main-header__heading {
    background-color: #1d2632;
  }

  .main-header__wrapper--closed .main-header__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;

    background-color: #ffffff;
    box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
  }

  .main-header__wrapper--closed .main-header__toggle:hover::before {
    background-color: #d22856;
    box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
  }

  .main-header__wrapper--closed .main-header__toggle:active::before {
    background-color: rgba(210, 40, 86, 0.3);
    box-shadow: 0 10px 0 0 rgba(210, 40, 86, 0.3), 0 20px 0 0 rgba(210, 40, 86, 0.3);
  }


  .main-header__wrapper--closed .site-list__item {
    display: none;
  }

  .main-header__wrapper--opened .site-list__item {
    display: block;
  }

  .main-header__wrapper--opened .main-nav__list {
    position: absolute;
    top: 66px;
    right: 0;
    width: 100%;
    z-index: 110;
    background-color: #1d2632;
  }
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    width: auto;
    margin: 0 auto;
  }

  .main-header__heading {
    height: 110px;
  }

  .main-header__picture {
    margin-top: 27px;
    margin-bottom: 42px;
    display: block;

    fill: white;

    &--mobile,
    &--desktop {
      display: none;
    }

    &:hover {
      fill: #d22856;
    }
  }

  .main-header__picture:active {
    fill: #e5e5e5;
  }

  .main-header__toggle {
    top: 44px;
  }

  .main-header__wrapper--opened .main-nav__list {
    top: 110px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    position: absolute;
    background-color: rgba(0, 50, 50, 0.3);
    z-index: 15;
  }

  .main-header__wrapper {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 110px;
  }


  .main-header__picture {
    margin-top: 30px;
    margin-bottom: 42px;
    margin-left: 0;
    display: block;

    &--tablet,
    &--mobile {
      display: none;
    }
  }

  .main-header__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    border: none;
  }

  .site-list__item {
    @include headline(17px, 30px);
    text-transform: none;
    border: none;
  }

  .site-list__item a {
    padding: 40px 0;
    margin-left: 41.5px;
    margin-right: 41.4px;
    text-transform: none;

    &:hover {
      color: #d22856;
    }

    &:active {
      color: #e5e5e5;
    }
  }

  .site-list__item:last-child a {
    margin-right: 0;
  }

  .site-list__item--active a {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: 30px;
      height: 2px;
      width: 100%;
      left: 0;
      background: white;
    }
  }
}
