.price__wrapper {
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
  background: #f2f2f2;
  max-width: 100%;
}


.rates__table {
  border-collapse: collapse;
  margin-bottom: 40px;
  transform: translateX(-59.5%);
  position: relative;
  left: 65%;
  width: 240%;
}

tr:nth-of-type(n+1) .rates__item:nth-child(3) .rates__feature {
  @include headline(14px, 30px);
}

.rates__feature--name-smile {
  padding-right: 45px;
}

.rates__feature-status--on {
  position: relative;
}

.rates__feature-status--on::after {
  position: absolute;
  content: "";
  background: url("/img/icon-yes.svg") no-repeat;
  width: 22px;
  height: 16px;
  left: 225px;
  top: -15px;
}

.rates__feature-status--off {
  position: relative;
}

.rates__feature-status--off::after {
  position: absolute;
  content: "";
  background: url("/img/icon-no.svg") no-repeat;
  width: 27px;
  height: 28px;
  left: 245px;
  top: -15px;
}


.rates__header {
  height: 96px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background: #1d2632;
  border: 4px solid white;
  border-top: none;

  &--flag::before {
    content: "";
    position: absolute;
    top: 0;
    left: 35%;
    width: 74px;
    height: 73px;
    background: url("../img/bg-hit.svg") no-repeat top left;
    background-size: 74px 73px;
  }
}

.rates__name {
  @include headline(18px, 30px);
}

.rates__item {
  @include headline(14px, 30px);
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 4px solid #f2f2f2;
  background: white;
}

.rates__feature {
  font-size: 0;
}

.rates__feature-status {
  font-size: 0;
}

.sr-only {
  display: none;
}


.rates__price {
  @include headline(24px, 30px);
  font-weight: 400;
}

.rates__flag {
  position: absolute;
  top: 6px;
  left: 35.5%;
  width: 78px;
  height: 73px;
  transform: rotate(-45deg);
  font-weight: 400;
}


@media (min-width: $tablet-width) {
  .price__wrapper {
    padding-top: 40px;
    margin: 0 auto;
  }

  .rates__table {
    max-width: 940px;
    width: 93%;
    left: 0;
    transform: translateX(0);
    margin: 0 auto;
  }

  tr:nth-of-type(n+1) .rates__item:nth-child(1) .rates__feature {
    @include headline(14px, 30px);
  }


  tr:nth-of-type(n+1) .rates__item:nth-child(3) .rates__feature {
    font-size: 0;
  }

  .rates__feature--name-smile {
    padding-right: 0;
  }

  .rates__feature-status--on::after {
    left: 50px;
    top: -10px;
  }

  .rates__feature-status--off::after {
    left: 50px;
    top: -15px;
  }

  .rates__header {
    width: 24%;
    height: 85px;
  }

  .rates__item {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .rates__name {
    @include headline(16px, 30px);
  }

  .rates__price {
    @include headline(18px, 30px);
  }

  .rates__header--flag::before {
    left: 52%;
    width: 61px;
    height: 61px;
    background: url("../img/bg-hit-tablet.svg") no-repeat top left;
    background-size: 61px 61px;
  }

  .rates__flag {
    left: 51.5%;
  }
}


@media (min-width: $desktop-width) {
  .price__wrapper {
    padding-bottom: 85px;
  }

  .rates__header {
    height: 100px;
  }

  .rates__item {
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .rates__name {
    @include headline(18px, 30px);
  }

  .rates__price {
    @include headline(24px, 30px);
  }

  tr:nth-of-type(n+1) .rates__item:nth-child(1) .rates__feature {
    @include headline(18px, 30px);
  }

  .rates__feature-status--on::after {
    left: 80px;
  }

  .rates__feature-status--off::after {
    left: 80px;
  }
}
