.price__wrapper {
  padding-top: 95px;
  padding-bottom: 32px;
  text-align: center;
  background: #f2f2f2;
  max-width: 100%;
  position: relative;
}

.price__triangle-white {
  @include size(100%, 94px);
  position: absolute;
  content: "";
  top: 2050px;
  left: 0;
  z-index: 10;
}

.rates__table {
  border-collapse: collapse;
  margin-bottom: 25px;
  transform: translateX(-58%);
  position: relative;
  left: 60.4%;
  width: 196%;
}

tr:nth-of-type(n+1) .rates__item:nth-child(3) .rates__feature {
  @include headline(14px, 14px);
  text-transform: uppercase;
}

.rates__feature-status--on {
  fill: #1c9b5e;
}

.rates__feature-status--off {
  fill: #f25b26;
}

.rates__feature-status--off-comment {
  transform: translateX(98px) translateY(3px);
}

.rates__feature-status--on-filtre {
  transform: translateX(73px) translateY(8px);
}

.rates__feature-status--on-smile {
  transform: translateX(124px) translateY(7px);
}

.rates__header {
  height: 96px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background: #1d2632;
  border: 2px solid white;
  border-top: none;

  &--flag::before {
    content: "";
    position: absolute;
    top: 0;
    left: 30%;
    width: 74px;
    height: 73px;
    background: url("../img/bg-hit.svg") no-repeat top left;
    background-size: 74px 73px;
  }
}

.rates__name {
  @include headline(18px, 30px);
  font-weight: bold;
  font-family: "Open Sans", "Arial", sans-serif;
  margin-top: -7px;
}

.rates__item {
  @include headline(14px, 30px);
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 9px;
  background: white;
  border: 2px solid #f2f2f2;
}

.rates__feature {
  font-size: 0;
}

.rates__feature-status {
  font-size: 0;
}

.sr-only {
  display: none;
}


.rates__price {
  @include headline(24px, 30px);
  font-weight: 300;
}

.rates__flag {
  @include headline(13px, 15px);
  position: absolute;
  top: 12px;
  left: 31%;
  width: 78px;
  height: 73px;
  transform: rotate(-45deg);
  font-weight: 300;
}


@media (min-width: $tablet-width) {
  .price__wrapper {
    padding-top: 88px;
    margin: 0 auto;
    padding-bottom: 70px;
  }

  .rates__table {
    max-width: 940px;
    width: 94%;
    left: 0;
    transform: translateX(0);
    margin: 0 auto;
  }

  tr:nth-of-type(n+1) .rates__item:nth-child(1) .rates__feature {
    @include headline(14px, 30px);
  }


  tr:nth-of-type(n+1) .rates__item:nth-child(3) .rates__feature {
    font-size: 0;
  }

  .rates__feature-status--off-comment,
  .rates__feature-status--on-filtre,
  .rates__feature-status--on-smile {
    transform: translateX(0) translateY(0);
  }

  .rates__feature-status--off {
    transform: translateX(170%) translateY(8px);
  }

  .rates__feature-status--on {
    transform: translateX(145%) translateY(8px);
  }

  .rates__header {
    width: 25%;
    height: 78px;
  }

  .rates__item {
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 3px;
  }

  .rates__item:first-child {
    text-align: left;
  }

  .rates__name {
    @include headline(16px, 30px);
    padding-top: 8px;
  }

  .rates__price {
    @include headline(18px, 30px);
  }

  .rates__header--flag::before {
    left: 50%;
    width: 61px;
    height: 61px;
    background: url("../img/bg-hit-tablet.svg") no-repeat top left;
    background-size: 61px 61px;
  }

  .rates__flag {
    left: 50%;
    top: 5px;
  }

  .price .slider__toggles {
    display: none;
  }

  .price__triangle-white {
    top: 2118px;
  }
}


@media (min-width: $desktop-width) {
  .price__wrapper {
    padding-top: 150px;
    padding-bottom: 97px;
  }

  .rates__header {
    height: 95px;
  }

  .rates__item {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 9px;
  }

  .rates__name {
    @include headline(17px, 30px);
    margin-top: -4px;
    padding-top: 0;
  }

  .rates__price {
    @include headline(24px, 30px);
  }

  tr:nth-of-type(n+1) .rates__item:nth-child(1) .rates__feature {
    @include headline(18px, 30px);
  }

  .rates__feature-status--off {
    transform: translateX(285%) translateY(8px);
  }

  .rates__feature-status--on {
    transform: translateX(250%) translateY(8px);
  }

  .price__triangle-white {
    top: 2665px;
  }
}
