.intro__wrapper {
  position: relative;
}

.reviews__wrapper {
  @include headline(18px, 30px);
  padding: 50px 20px;
  text-align: center;
}

.reviews__item {
  @include indentation(0, 0);
  margin-bottom: 40px;
}

.reviews__author-name {
  font-weight: 700;
  font-style: normal;
}

.slider__toggle {
  @include border-radius(50%);
  display: inline-block;
  background-color: #b5b9be;
  width: 6px;
  height: 6px;
  font-size: 0;
  margin-right: 10px;

  &:hover {
    background: #7e868f;
  }

  &:active {
    background: #e5e5e5;
  }
}

.slider__toggle-active {
  border: 2px solid black;
  background-color: $slogan-color;
}

.reviews__job {
  display: none;
}

.reviews__toggles-desktop {
  display: none;
}

.footer__map {
  height: 280px;
  position: relative;
}

.triangle-white {
  @include size(100%, auto);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    padding: 70px 20px;
    width: auto;
    max-width: 606px;
    margin: 0 auto;
  }

  .reviews__text {
    margin-bottom: 30px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__author-name {
    @include headline(20px, 20px);
  }

  .reviews__job {
    @include headline(14px, 14px);
    display: inline;
    color: #bec2c7;
    margin-bottom: 0;
  }

  .footer__map {
    height: 370px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    padding: 180px 167px;
    padding-bottom: 125px;
    position: relative;
  }

  .reviews__author-name {
    @include headline(24px, 24px);
  }

  .reviews__job {
    @include headline(18px, 18px);
    padding-top: 0;
    margin-top: 20px;
    display: block;
  }

  .slider__toggle {
    display: none;
    position: relative;
  }

  .footer__map {
    background: url("/img/bg-map-desktop@1x.jpg") no-repeat;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-size: 100%;
  }

  .reviews__blockquote {
    @include position-absolute;
    background: url("/img/icon-quotes.svg") no-repeat;
    width: 78.672px;
    height: 63.789px;
    top: 77px;
    left: 430px;
  }

  .reviews__toggles-desktop {
    display: block;
  }

  .slider__left,
  .slider__right {
    @include position-absolute;
    top: 230px;

    fill: #e5e5e5;

    &:hover {
      fill: #969da4;
    }

    &:active {
      fill: #e9ebec;
    }
  }

  .slider__left {
    left: 0;
  }

  .slider__right {
    @include position-absolute;
    top: 230px;
    right: 0;
    fill: #e5e5e5;
  }
}
