.reviews__wrapper {
  padding: 23px 20px;
  text-align: center;
}

.reviews__item {
  @include indentation(0, 0);
  margin-bottom: 18px;
}

.reviews__author-name {
  @include headline(19px, 30px);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0;
}

.reviews__text {
  @include headline(14px, 30px);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.slider__toggle {
  @include border-radius(50%);
  display: inline-block;
  background-color: #b5b9be;
  width: 6px;
  height: 6px;
  font-size: 0;
  margin-right: 10px;

  &:hover {
    background: #7e868f;
  }

  &:active {
    background: #e5e5e5;
  }
}

.slider__toggle-active {
  border: 2px solid black;
  background-color: $slogan-color;
}

.reviews__job {
  display: none;
}

.reviews__toggles-desktop {
  display: none;
}

.map {
  height: 190px;
  position: relative;
}

.map__iframe {
  width: 100%;
  height: 190px;
}

.map__triangle-white {
  @include size(100%, auto);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    padding: 80px 20px;
    padding-bottom: 8px;
    width: auto;
    max-width: 940px;
    margin: 0 auto;
  }

  .reviews__text {
    @include headline(18px, 30px);
    margin-bottom: 16px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__author-name {
    @include headline(21px, 21px);
  }

  .reviews__job {
    @include headline(14px, 14px);
    display: inline;
    color: #bec2c7;
    margin-bottom: 10px;
  }

  .map {
    height: 370px;
    margin: 0 auto;
  }

  .map__iframe {
    height: 370px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    padding: 180px 167px;
    padding-bottom: 15px;
    position: relative;
  }

  .reviews__author-name {
    @include headline(24px, 24px);
  }

  .reviews__job {
    @include headline(18px, 18px);
    padding-top: 0;
    margin-top: 12px;
    display: block;
  }

  .slider__toggle {
    display: none;
    position: relative;
  }

  .map {
    width: 100%;
    height: 510px;
    margin: 0 auto;
    background-size: 100%;
  }

  .map__iframe {
    height: 510px;
  }

  .reviews__blockquote {
    @include position-absolute;
    background: url("../img/icon-quotes.svg") no-repeat;
    width: 78.672px;
    height: 63.789px;
    top: 73px;
    left: 563px;
  }

  .reviews__toggles-desktop {
    display: block;
  }

  .slider__left,
  .slider__right {
    @include position-absolute;
    top: 215px;

    fill: #e5e5e5;

    &:hover {
      fill: #969da4;
    }

    &:active {
      fill: #e9ebec;
    }
  }

  .slider__left {
    left: 130px;
  }

  .slider__right {
    @include position-absolute;
    right: 130px;
    fill: #e5e5e5;
  }

  .reviews__text {
    @include headline(18px, 30px);
    background: red;
    width: 81%;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: 80px;
    margin-bottom: 15px;
  }
}
