@import "vars";
@import "mixins";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/advantages";
@import "blocks/content-photo";
@import "blocks/footer";
@import "blocks/reviews";
@import "blocks/price";
@import "blocks/information";
@import "blocks/editing";
@import "blocks/form";

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}

body {
  @include indentation (0, 0);
  min-width: 320px;
  color: $base-color;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  body {
    min-width: 660px;
  }
}

@media (min-width: $desktop-width) {
  body {
    min-width: 1200px;
  }
}
